@import "/src/vars.scss";

.input {
  label {

    input {
      margin: $distance-large 0 $distance-large;
      background-color: $color-primary-light;
      border-color: $color-border;
      border-width: 1px;
      border-radius: $distance-normal;
      border-style: solid;
      height: $distance-xl;
      padding: $distance-normal;
      box-shadow: none;
      transition: all $transition-duration-fast;
      font-family: 'Ubuntu Mono';
      color: $text-color-primary;
      display: block;

      &:focus {
        // Remove browser default
        outline: none;

        box-shadow: 0px 0px $distance-small $distance-small $color-border-active;

      }

    }
  }
}