@import "../index.scss";

.picker-wrapper {
  .presenter {
    color: $color-text;
    background-color: $color-input;
    box-shadow: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: $color-border;
    padding: 8px;
  }

  dialog[open] {
    display: flex;
    flex-direction: column;
    background-color: $color-dialog;
    border-width: 1px;
    border-radius: 3px;
    border-color: $color-border;
    justify-content: center;
    align-items: center;
    color: $color-text;
    font-size: 20px;
    min-width: 400px;

    .titlebar {
      display: flex;
      justify-content: space-between;
    }

    input[type=text] {
      color: $color-text;
      background-color: $color-input;
      box-shadow: none;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
      border-color: $color-border;
    }
  }

  .row {
    border-style: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;

    &.selected,
    &:hover {
      padding: 7px;
      border-width: 3px;
      border-style: solid;
      border-color: $color-border-selected;
    }
  }


  button.icon {
    background-color: rgba($color: #000000, $alpha: 0.0);
    border: none;

    &:hover {
      cursor: pointer;
    }

  }
}
