@import "@fontsource/ubuntu-mono";

$nord-0: #2E3440;
$nord-1: #3B4252;
$nord-2: #434C5E;
$nord-3: #4C566A;

$snowstorm-0: #d8dee9;
$snowstorm-1: #e5e9f0;
$snowstorm-2: #eceff4;

$frost-0: #8fbcbb;
$frost-1: #88c0d0;
$frost-2: #81a1c1;
$frost-3: #5e81ac;

$aurora-0: #bf616a;
$aurora-1: #d08770;
$aurora-2: #ebcb8b;
$aurora-3: #a3be8c;
$aurora-4: #b48ead;

$color-background: $nord-0;
$color-text: $snowstorm-2;
$color-text-inverted: $color-background;
$color-border: $snowstorm-2;
$color-border-selected: $snowstorm-2;
$color-input: $nord-0;
$color-dialog: $nord-0;
$color-primary: #9381FF;
$color-primary-light: #B8B8FF;
$color-secondary-light: #FFEEDD;
$color-secondary: #FFD8BE;
$color-secondary-text: color-mix(in srgb, #FFD8BE 40%, black);
$color-selected: $aurora-3;

$padding-sm: 5px;
$padding-m: 10px;

$border-m: 2px;


$font-m: 1rem;
$font-weight-m: 400;

$height-text-row: 1.5rem;

@mixin font-family {
  font-family: 'Ubuntu Mono';
  letter-spacing: 0.1rem;
  font-weight: 400;
}

@mixin secondary-text-color {
  color: $color-secondary;
}

@mixin fade-in-animation {
  animation-name: fade;
  animation-duration: 100ms;
}

@mixin fade-in-from-right-animation {
  animation-name: fade-in-from-right;
  animation-duration: 200ms;
}


@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-from-right {
  from {
    opacity: 0;
    position: relative;
    left: 100px;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

:root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  @include font-family();
  font-size: 18px;
}

h1 {
  @include font-family();
  font-weight: 900;
  color: $color-primary-light;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 $color-primary;
  letter-spacing: 0.5rem;
  font-size: 3rem;
}


body {
  @include font-family();
  background-color: $color-background;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;

  @media (min-width: 768px) {
    margin: 0 auto;
  }
}

hr {
  width: 100%;
  color: $color-primary-light;
  border: 0.1rem solid $color-primary-light;
  border-radius: 1rem;

}

.container-without-padding {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 0rem 1rem;
  left: -5px;
  position: relative;
}


.remove-logotype-button {
  margin-top: 1rem;
}

.container {
  position: relative;
  left: -5px;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include fade-in-animation();
}

.receipt-row {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border-color: rgba($color: #000000, $alpha: 0);
  text-indent: 1rem;
  box-shadow: 5px 5px 0rem $color-secondary;
  background-color: $color-secondary-light;
  @include font-family();
  font-weight: 900;
  color: #333;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  @include fade-in-from-right-animation();

  .description {
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .amount {
    margin: auto;
    flex-shrink: 2;
  }

  .receipt-row-remove-button {
    border: 5px solid rgba(#000000, 0);
    border-radius: 5px;
    background-color: $color-primary;
    color: $color-secondary-light;
    box-shadow: 4px 4px 0 $color-secondary;

    &:hover {
      filter: brightness(105%);
      cursor: pointer;
    }


  }
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;

  .logotype {
    @include fade-in-animation();
    margin-top: 0.5rem;
    width: 70%;
    border-color: $color-secondary-light;
    border-width: 5px;
    border-radius: 0.5rem;
    border-style: solid;
    box-shadow: 5px 5px 0 $color-secondary;
    background-color: $color-secondary-light;

  }

  div {
    width: 100%;
  }

  label {
    color: $color-secondary-text;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    top: 12px;
    left: 15px;
    z-index: 100;
  }

  //   input {
  //     width: 100%;
  //     flex: 1;
  //     height: 3rem;
  //     min-height: 2rem;
  //     margin-bottom: 0.5rem;
  //     border-radius: 0.5rem;
  //     border-color: rgba($color: #000000, $alpha: 0);
  //     text-indent: 1rem;
  //     box-shadow: 5px 5px 0rem $color-secondary;
  //     background-color: $color-secondary-light;
  //     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  //     font-weight: 900;
  //     color: #333;
  //
  //     &[type=date] {
  //       text-indent: 0.5rem;
  //     }
  //
  //     &[type=file] {
  //       width: 0.1px;
  //       height: 0.1px;
  //       opacity: 0;
  //       overflow: hidden;
  //       position: absolute;
  //       z-index: -1;
  //
  //       &:focus+label {
  //         outline: 1px dotted #000;
  //         outline: -webkit-focus-ring-color auto 5px;
  //       }
  //
  //       &+label {
  //         pointer-events: none;
  //       }
  //
  //     }
  //
  //     &:hover {
  //       filter: brightness(105%);
  //       cursor: pointer;
  //     }
  //
  //     &:focus {
  //       outline: none;
  //       outline-offset: 0;
  //
  //     }
  //
  //     &[type=number]::-webkit-inner-spin-button,
  //     &[type=number]::-webkit-outer-spin-button {
  //       -webkit-appearance: none;
  //       margin: 0;
  //     }
  //   }
  //
  //   .add-button {
  //     margin-top: 1rem;
  //   }
  //
  // }

  // .button {
  //   @include fade-in-animation();
  //   width: 75%;
  //   height: 3rem;
  //   min-height: 2rem;
  //   margin-bottom: 1rem;
  //   border-radius: 0.5rem;
  //   border-color: rgba($color: #000000, $alpha: 0);
  //   text-indent: 1rem;
  //   box-shadow: 5px 5px 0rem $color-secondary;
  //   color: #333;
  //   font-weight: 600;
  //   background-color: $color-secondary-light;
  //   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  //
  //   &:focus {
  //     outline: none;
  //   }
  //
  //   &.primary {
  //     background-color: $color-primary-light;
  //     box-shadow: 5px 5px 0rem $color-primary;
  //   }
  //
  //   &.secondary {
  //     background-color: $color-secondary-light;
  //     box-shadow: 5px 5px 0rem $color-primary-light;
  //   }
  //
  //   &:hover {
  //     filter: brightness(105%);
  //     cursor: pointer;
  //   }
  //
  // }
}
