$text-color-primary: #333;

$font-size-normal: 1rem;
$font-size-large: 1.3rem;


$color-primary: #193e54;
$color-primary-light: #99b8c9;
$color-background: #ffffff;
$color-secondary-light: #96b0b9;
$color-secondary: #FFD8BE;
$color-secondary-text: color-mix(in srgb, #FFD8BE 40%, black);

$distance-normal: 4px;
$distance-large: 8px;