$text-color-primary: #DDD;

$font-size-normal: 1rem;
$font-size-large: 1.3rem;


$color-primary: #111;
$color-primary-light: #222;
$color-background: #151515;
$color-secondary-light: #96b0b9;
$color-secondary: #FFD8BE;
$color-secondary-text: color-mix(in srgb, #FFD8BE 40%, black);

$color-border: #444444;

$distance-small: 2px;
$distance-normal: 4px;
$distance-large: 8px;
$distance-xl: 16px;
$distance-xxl: 24px;

$phone: "max-width: 767px";
$phone-tablet: "max-width: 1023px";
$tablet: "min-width: 768 and max-width: 1023px";
$tablet-desktop: "min-width: 768px";
$desktop: "min-width: 1024px";

$z-1: 10;

$transition-duration: 300ms;