@import "/src/vars.scss";

.default-layout--container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  padding: 0;

  .menu {
    background-color: #96b0b9;
    min-width: 200px;
    max-width: 200px;
    height: 100vh;
    position: block;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    img {
      width: 75%
    }

    .link {
      font-size: $font-size-large;
      padding: $distance-large;
    }
  }

  .content {
    margin-left: 1rem;
  }
}